<!DOCTYPE html>
<html>
<body style="background-color:rgb(0, 0, 0);">
<div class="center">
    <span style="color:#ff7700">L</span>
    <span style="color:#ffffff">O</span>
    <span style="color:#75ff66">C</span>
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <!-- Avatar image in top left corner -->
      <a href="{{url_for('login')}}" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>LOGIN</p>
      </a>
      </nav>

</div>
</body>
</html>

<style>
    .center {
  text-align: center;
}
</style>