<!DOCTYPE html>
<html>
<head>
<title>VIEW FEED</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */

</style>
</head>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="{{url_for('campage')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>HELMET DETECTION</p>
  </a>
  <a href="{{url_for('campageuav')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>SAFETY HELMET AND VEST DETECTION</p>
  </a>
  <a href="{{url_for('campageti')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>SAFETY VEST DETECTION</p>
  </a>
  <!--<a href="{{url_for('campage')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>THERMAL</p>
  </a> -->

  </a>
  <a href="{{url_for('login')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>LOG OUT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#viewfeed" class="w3-bar-item w3-button" style="width:25% !important">VIEW FEED</a>
    <a href="#logout" class="w3-bar-item w3-button" style="width:25% !important">LOG OUT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">
    <br></br>
    <span style="color:#ff0800">WABTEC</span>
    <span style="color:#ffffff"></span>
    <span style="color:#70ff66"></span>
    EXCEED 2.0</h1>
    <h2> ARTIFICIAL INTELLIGENCE <span style="color:#ff0800">FOR SAFETY IN INDUSTRIAL SITES</span> </h2>
        <p> Our solution helps improve Safety of workers in railway yards </p>
        <p></p>    
        <h2> Team <span style="color:#ff6600">PASTRA </span><span style="color:#ffffff"></span><span style="color:#70ff66"></span></h2>
        <p> <span style="color:#bd4141">PES UNIVERSITY BANGALORE</span> </p>
          </header>


<!-- END PAGE CONTENT -->
</div>

</body>
</html>
